astroid==1.6.6
backports.functools-lru-cache==1.5
configparser==3.7.4
dj-database-url==0.5.0
Django==1.11.23
django-widget-tweaks==1.4.5
enum34==1.1.6
gunicorn==19.9.0
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1
psycopg2-binary==2.8.3
pylint==1.9.5
pytz==2019.2
singledispatch==3.4.0.3
six==1.12.0
wrapt==1.11.2
django_heroku==0.3.1