<ul class="nav nav-tabs bg-dark">
    <li class="nav-item">
        <a class="nav-link {% if selected == "all" %}active{% endif %}" href="/">Educar y Crecer</a>
    </li>
    <li class="nav-item ml-auto">
        <a style="font-weight: 300;text-transform: none;" class="nav-link" href="mailto:info@educarycrecer.org">info@educarycrecer.org</a>
    </li>
    <!-- {% if usr and usr.bid_set.exists %}
    <li class="nav-item">
        <a class="nav-link {% if selected == "active" %}active{% endif %}" href="/active">Mis subastas</a>
    </li>
    {% endif %} -->
</ul>