{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load filters %}

{% block title%}Mensajeros de la Paz{% endblock %}

{% block meta %}
<!--  Essential META Tags -->
<meta property="og:title" content="Subasta | Mensajeros de la Paz">
<meta property="og:description" content="Subasta a beneficio de los proyectos de niñez que tiene Mensajeros de la Paz en Argentina.">
<meta property="og:image" content="https://mensajeros.misubasta.org{% static 'img/logo2.png' %}">
<meta property="og:url" content="https://mensajeros.misubasta.org/">
<meta name="twitter:card" content="summary_large_image">

<!--  Non-Essential, But Recommended -->
<meta property="og:site_name" content="Mensajeros de la Paz">
<meta name="twitter:site" content="@Mensajeros_AR">
<meta name="twitter:image:alt" content="{{item.name}}">
{% endblock %}

{% block content %}
    {% include "_nav.html" with selected='all' %}

    <div class="container-fluid">
        <br/>

        {% if active_items %}
        <h3 style="color: #697083;font-size: 1.5rem;margin-bottom: 1.2rem;">Mis subastas</h3>
        {% endif %}
        {% for item in active_items %}
        <a href="/item/{{ item.id }}" style="text-decoration: none; color: inherit;">
            <div class="card">
            <div class="media">
                <img class="mr-3 " src="{% static item.image %}" style="max-width: 15%">
                <div class="media-body">
                    <h5 class="mt-0">
                        {{ item.name }}
                    </h5>
                    <p style="color: #697083;margin-bottom: 5px;">{{ item.description|linebreaksbr }}</p>
                </div>
            </div>
            <div style="text-align: right;">
                <span style="color: grey;">Última oferta:</span>
                <span class="bb-{{item|color:usr}}" style="margin-left: .3rem; font-size: 1.3rem; color:#446FDE; position: relative; top: 2px;">€{{ item.price|intcomma }}</span>
            </div>
            </div>
        </a>
        <br/>
        {% endfor %}

        {% if active_items %}
        <br/>
        <h3 style="color: #697083;font-size: 1.5rem;margin-bottom: 1.2rem;">Otras subastas</h3>
        {% endif %}
        {% for item in other_items %}
        <a href="/item/{{ item.id }}" style="text-decoration: none; color: inherit;">
            <div class="card">
            <div class="media">
                <img class="mr-3 " src="{% static item.image %}" style="max-width: 15%">
                <div class="media-body">
                    <h5 class="mt-0">
                        {{ item.name }}
                    </h5>
                    <p style="color: #697083;margin-bottom: 5px;">{{ item.description|linebreaksbr }}</p>
                </div>
            </div>
            <div style="text-align: right;">
                <span style="color: grey;">Última oferta:</span>
                <span style="margin-left: .3rem; font-size: 1.3rem; color:#446FDE; position: relative; top: 2px;">€{{ item.price|intcomma }}</span>
            </div>
            </div>
        </a>
        <br/>
        {% endfor %}

        <p style="color: grey; text-align: center; padding: 1rem 2rem; font-size:0.8rem">
            La subasta finaliza el miércoles 4 de diciembre alrededor de las 22hs (Madrid) durante el evento "Noche Solidaria por los Chicos de Argentina". Pueden participar desde cualquier parte del mundo. Los costos de envío están a cargo de la persona ganadora, pudiendo coordinarse entrega en persona tanto en Madrid como en Buenos Aires. Por dudas o consultas escribir a <a href="mailto:nocheargentina@mensajerosdelapaz.org.ar">nocheargentina@mensajerosdelapaz.org.ar</a>. <a href="/bases">Ver todas las bases y condiciones.</a>
        </p>
    </div>
{% endblock %}