{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Bases y Condiciones{% endblock %}

{% block style %}
    .bases li {
        margin-bottom: 1rem;
        font-family: monospace;
    }

    .bases {
        padding-left: 1.5rem;
    }

{% endblock %}

{% block content %}
    {% include "_nav.html" %}

    <form method="POST" autocomplete="off">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <br/>
                    <h2 style="text-align: center; margin-bottom: 1.3rem;">Bases y condiciones</h2>
                    <ul class="bases">
                    <li>El objetivo de esta subasta es recaudar fondos para los proyectos de Mensajeros de la Paz en Argentina.</li>
                    
                    <li>La subasta finalizará el día viernes 24 de julio alrededor de las 21:30hs. (Buenos Aires, Argentina) durante el evento "Noche Solidaria en Casa" a realizarse via YouTubeLive.</li>

                    <li>Los participantes de la subasta asumen un compromiso de donación por el monto indicado en su oferta. Los montos serán ofertados en Pesos Argentinos.</li>

                    <li>El ganador de cada artículo será la persona que haya realizado la oferta de mayor valor. Una vez anunciado el ganador, este deberá realizar el pago dentro de los 7 días siguientes (hasta el viernes 31 de julio de 2020). Mensajeros de la Paz se pondrá en contacto con la persona ganadora a través de los datos de contacto suministrados. Así mismo, cada persona participante podrá ver en https://mensajeros.misubasta.org el resultado de cada subasta luego de finalizada la misma.</li>

                    <li>El pago podrá realizarse preferentemente vía transferencia bancaria.</li>

                    <li>Los costos de envío están a cargo de la persona ganadora, pudiendo coordinarse una entrega en la Ciudad de Buenos Aires (Argentina).</li>

                    <li>Los tiempos y formas de entrega de artículos y experiencias están sujetos a restricciones actuales debido a la Pandemia por el Covid-19.</li>

                    <li>Por consultas, escribir a nochesolidaria@mensajerosdelapaz.org.ar</li>
                </ul>
                </div>
            </div
        </div>
        <br/>
        <div class="container-fluid">
            <div class="col">
                <div class="row">
                    {% if next %}
                        <a href="/register?id={{ next }}" class="btn btn-ok btn-lg btn-block">ACEPTAR</a>
                    {% else %}
                        <a href="/" class="btn btn-ok btn-lg btn-block">VOLVER</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}