<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#424242">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <title>Educar Siempre</title>
  </head>
  <body>
    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
            <a class="nav-link active" href="/index.html">Subastas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/active.html">Mis subastas</a>
        </li>
    </ul>

    <div class="container-fluid">
        <hr/>

        <a href="/item_new.html" style="text-decoration: none; color: inherit;">
            <div class="media">
                <img class="mr-3" src="img/1.jpg" style="max-width: 15%" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">
                        Camiseta Pumas
                        <span class="badge badge-info" style="float: right;margin-right: 1rem;">$1,400</span>
                    </h5>
                    <p>Camistea firmada por el plantel de Los Pumas, mayo 2019.</p>
                    <p>
                </div>
            </div>
        </a>

        <hr/>

        <div class="media">
                <img class="mr-3" src="img/1.jpg" style="max-width: 15%" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">
                        Camiseta Pumas
                        <span class="badge badge-info" style="float: right;margin-right: 1rem;">$1,400</span>
                    </h5>
                    Camistea firmada por el plantel de Los Pumas, mayo 2019.
                </div>
            </div>
            <hr/>

            <div class="media">
                    <img class="mr-3" src="img/1.jpg" style="max-width: 15%" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">
                            Camiseta Pumas
                            <span class="badge badge-info" style="float: right;margin-right: 1rem;">$1,400</span>
                        </h5>
                        Camistea firmada por el plantel de Los Pumas, mayo 2019.
                    </div>
                </div>
                <hr/>
        
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>