{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load filters %}

{% block style %}
    .item-img {
        background-image: linear-gradient(#eb01a500, #000000b3), url("{% static item.image %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 30%;
        width: 100%;
        height: 15rem;
        margin-bottom: 1rem;
        cursor: pointer;
    }

    .offer {
        margin: 3rem;
        line-height: 5rem!important;
    } 

    label.btn:focus {
        color: #fff!important;
        background-color: #545b62!important;
        border-color: #4e555b!important;
    }

    @media (min-width: 768px) {
        .modal-dialog {
            max-width: 82% !important;
        }
    }

    @media (min-width: 1240px) {
        .modal-dialog {
            max-width: 65% !important;
        }
    }

{% endblock %}

{% block script %}
function onChange() {
    var value = $("input[name='options']:checked").val();
    $('#custom-price').toggle(value == 'OTHER');
    $('#amount').prop('required', value == 'OTHER');
    $('#amount').val(null);
}

function userConfirm(name) {
    var price = $('#amount').val() || $("input[name='options']:checked").val();
    return confirm('Estás por ofertar $' + price + ' pesos argentinos por ' + name + '. \n¿Deseas continuar?')
}

{% if item|color:usr == 'success' and donation.enabled %}
window.setInterval(function() {
    $.get('/api/wining/{{ item.id }}', function(a) {
        if (a == 0) window.location.reload();
    })
}, 4000);
{% endif %}

{% endblock %}


{% block title %}{{ item.name }}{% endblock %}

{% block meta %}
<!--  Essential META Tags -->
<meta property="og:title" content="{{item.name}}">
<meta property="og:description" content="{{item.description}}">
<meta property="og:image" content="https://mensajeros.misubasta.org{% static item.image %}">
<meta property="og:url" content="https://mensajeros.misubasta.org/">
<meta name="twitter:card" content="summary_large_image">

<!--  Non-Essential, But Recommended -->
<meta property="og:site_name" content="Mensajeros de la Paz">
<meta name="twitter:site" content="@Mensajeros_AR">
<meta name="twitter:image:alt" content="{{item.name}}">
{% endblock %}

{% block content %}
    {% include "_nav.html" %}

        <div class="container-fluid item-img" data-toggle="modal" data-target="#exampleModal">
            <div class="row align-items-end" style="height: 100%; color: white;">
                <div class="col">
                    <h2 style="font-size:1.2rem;">{{ item.name }}</h2>
                    <p style="font-size:0.8rem;">{{ item.description|linebreaksbr }}</p>
                </div>
            </div>
        </div>

    <div class="container-fluid">
        <div class="row justify-content-md-center">
        <div class="card col-md-6" style="text-align: center; margin: 0 1rem;">
            <h4 style="font-size: 1.1rem;">Precio actual</h4>
            <h1><span class="bb-{{item|color:usr}}" style="color: #446FDE;font-size: 2.2rem !important;padding: 3px 30px;">${{ item.price|intcomma }}</span></h1>

            <span style="color: grey; font-weight: 200; font-style: italic;">
            {% if item|color:usr == 'success' and donation.enabled %}
                Estás ganando la subasta hace {{ item.winner_bid.created|timesince }}
            {% else %}
                {% if item.winner_bid %}
                    hace {{ item.winner_bid.created|timesince }}
                {% endif %}
            {% endif %}
            </span>
        </div>
        </div>
    </div>

    {% if item|color:usr == 'success' and donation.enabled %}
        <br/>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                    <div class="col-md-6">
                    <a href="/" class="btn btn-ok btn-lg btn-block">Volver</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if donation.enabled %}

        {% if usr and item|color:usr != 'success' %}
        <form method="POST" onsubmit='return userConfirm("{{item.name}}")'>
        {% csrf_token %}
        <br/>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
            <div class="card col-md-6" style="text-align: center; margin: 0 1rem;">
                <h4>Tu oferta</h4>
                <div style="display: block;" class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-lg btn-rnd active">
                        <input type="radio" name="options" id="option1" value="{{ item.price|add:500 }}" autocomplete="off" checked style="display:none;" onchange="onChange()"> ${{ item.price|add:500|intcomma }}
                    </label>
                    <label class="btn btn-lg btn-rnd">
                        <input type="radio" name="options" id="option2" value="{{ item.price|add:1000 }}" autocomplete="off" style="display:none;" onchange="onChange()"> ${{ item.price|add:1000|intcomma }}
                    </label>
                    <label class="btn btn-lg btn-rnd">
                        <input type="radio" name="options" id="option3" value="{{ item.price|add:5000 }}" autocomplete="off" style="display:none;" onchange="onChange()"> ${{ item.price|add:5000|intcomma }}
                    </label>
                    <label class="btn btn-lg btn-rnd">
                        <input type="radio" name="options" id="option3" value="OTHER" autocomplete="off" style="display:none;" onchange="onChange()"> OTRO
                    </label>
                </div>
        
                <div id="custom-price" class="container-fluid" style="display: none;">
                    <div class="row" style="justify-content: center;">
                        <div class="col-8">
                            <fieldset class="form-group" style="text-align: left; margin-top: -1rem;">
                                <label for="amount" style="color:#446FDE" class="bmd-label-floating">Nuevo monto</label>
                                <input type="number" class="form-control" id="amount" name="amount" min="{{item.price|add:200}}">
                                <span class="bmd-help">Ingresa un valor superior a ${{ item.price|add:200|intcomma }}.</span>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <br/>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-ok btn-lg btn-block">Ofertar</button>
                    <a href="/" class="btn btn-back btn-lg btn-block">VOLVER</a>
                </div>
            </div>
        </div>
        </form>
        {% endif %}

        {% if not usr %}
            <br/>
            <div class="container-fluid">
                <div class="row justify-content-md-center">
                        <div class="col-md-6">
                        <a href="/bases?id={{ item.id }}" class="btn btn-ok btn-lg btn-block">Participar</a>
                        <a href="/" class="btn btn-back btn-lg btn-block">VOLVER</a>
                    </div>
                </div>
            </div>
        {% endif %}
    
    {% else %}
        <br/>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
            <div class="card col-md-6" style="text-align: center">
                {% if usr and item|color:usr == 'success' %}
                    <h4>Ganaste</h4>
                    <i>¡Felicitaciones! Te contactaremos a la brevedad para concretar el pago y entregarte {{ item.name }}.<br/>Podés escribirnos a: <a href="mailto:nocheargentina@mensajerosdelapaz.org.ar">nocheargentina@mensajerosdelapaz.org.ar</a></i>
                {% else %}
                    <h4>Subasta terminada</h4>
                    <i>Ya no se aceptan más ofertas.</i>
                {% endif %}
            </div>
            </div>
        </div>
    {% endif %}
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ item.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 20px 0 0 0;">
            <img class="d-sm-none" src="{% static item.image %}" style="width: 100%;"/>
            <img class="d-none d-sm-inline" src="{% static item.image_big %}" style="width: 100%;"/>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
