<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#424242">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <style>
        .item-img {
            background-image: linear-gradient(#eb01a500, #000000b3), url("img/1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 10%;
            width: 100%;
            height: 15rem;
            margin-bottom: 1rem;
        }

        .offer {
            margin: 3rem;
            line-height: 5rem!important;
        }
    
    </style>
    <title>Camiseta Pumas</title>
  </head>
  <body>
    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
            <a class="nav-link" href="/index.html">Todas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/active.html">Activas</a>
        </li>
    </ul>

    <div class="container-fluid item-img">
        <div class="row align-items-end" style="height: 100%; color: white;">
            <div class="col">
                <h2>Camiseta Pumas</h2>
                <p>Camistea firmada por el plantel de Los Pumas, mayo 2019.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div style="text-align: center">
            <h4>Precio actual</h4>
            <h1><span class="badge badge-success">$1,900</span></h1>
            <span><i>Estas ganando la subasta (hace 3 minutos).</i></span>
            <hr/>
        </div>
    </div>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>