{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Datos de contacto{% endblock %}


{% block content %}
    {% include "_nav.html" %}

    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <br/>
                    <div class="card">
                    <h2>Datos de contacto</h2>
                    <p>Te contactaremos en caso que ganes una subasta.</p>
                    <fieldset class="form-group">
                        <label for="name" class="bmd-label-floating">Nombre completo</label>
                        {% render_field form.uname class="form-control" autocomplete="off" id="pasdads" %}
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="phone" class="bmd-label-floating">Teléfono</label>
                        {% render_field form.uphone class="form-control" autocomplete="off" id="passsdads" %}
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="email" class="bmd-label-floating">Email</label>
                        {% render_field form.uemail class="form-control" autocomplete="off" id="pasddddads" %}
                    </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="container-fluid">
            <div class="col">
                <div class="row">
                    <button type="submit" class="btn btn-ok btn-lg btn-block offer">Continuar con la subasta</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}