{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load filters %}

{% block title%}Mensajeros de la Paz{% endblock %}

{% block content %}
    {% include "_nav.html" with selected='all' %}

    <div class="container-fluid">
        <br/>

        {% for item in items %}
            <div class="media">
                <img class="mr-3" src="{% static item.image %}" style="max-width: 15%">
                <div class="media-body">
                    <h5 class="mt-0">{{ item.name }}</h5>
                    {% if not item.winners %}
                        <i>Nadie ofertó por este producto.</i>
                    {% endif %}
                    {% for bid in item.winners %}
                    <div>
                        {{ bid.user.full_name }} ofertó ${{ bid.price|intcomma }} ARS<br/>
                        Tel: {{ bid.user.phone }} - Email: {{ bid.user.email }}
                    </div><br/>
                    {% endfor %}
                </div>
            </div>
        <hr/>
        {% endfor %}
    </div>
{% endblock %}